.text-center {
  text-align: center;
}

.flex-column {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	-webkit-align-items: center;
	        align-items: center;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-75 {
	margin-bottom: 75px;
}

.mb-75--sm {
	margin-bottom: 75px;
	.desktop({ margin-bottom: 0; })
}

.mb-75--xs {
	margin-bottom: 75px;
	@media (min-width: 576px){
		margin-bottom: 0;
	}
}

.color-black {
	color: #000;
}

.visible-mobile {
	
	.desktop({
		display: none !important;
	});
}