mixin button(text, desc, link, inHeader)
	div.text-center.wow.fadeInUp
		if inHeader
			a(href= link).button.in-header
				= text
		else
			a(href= link).button
				= text
		
		div.button-description
			= desc