mixin platform--black(icon, title, desc)
	div.platform.text-center.platform--black
		.platform__icon
			img(src= icon, alt= title)
		.platform__title.platform__title--black
			= title
		.platform__desc
			= desc