header.header
	.container.flex-column.flex-align-center.d-flex
		.logo
		h1.title-1.text-center.title-margin
			| Trade CFDs on Forex 
			br 
			| with our lowest ever spreads
		.header__img-ipad.visible-mobile
		+button("Start Trading Now", "Trading CFDs involves significant risk of loss", "#", "inHeader")