.numbers-section
	.container
		.row
			.col-md-6.col-lg-5
				.numbers-section__title INSTANT EXECUTION
				+trader-block("MetaTrader 4", "Floating spreads from", "0.6")
				+trader-block("MetaTrader 4", "Fixed spreads from", "1.6")
			.col-md-6.col-lg-5.offset-lg-1
				.numbers-section__title.numbers-section__title--special-pt INSTANT EXECUTION
				+trader-block("MetaTrader 4/5", "Floating spreads from", "0.6")
				+trader-block("cTrader", "Floating spreads from", "0.0*")
		.row
			.col.text-center.text-notice
				| *On FxPro cTrader, a commission of $0.45 per 10K applies.