.numbers-section
	.container
		.row
			.col-sm-6
				.numbers-section__title INSTANT EXECUTION
				+trader-block("MetaTrader 4", "Floating spreads from", "0.6")
				+trader-block("MetaTrader 4", "Fixed spreads from", "1.6")
			.col-sm-6
				.numbers-section__title INSTANT EXECUTION
				+trader-block("MetaTrader 4/5", "Floating spreads from", "0.6")
				+trader-block("cTrader", "Floating spreads from", "0.0*")