.section-footer
	.container
		.row
			.col-sm-4.col-md-2
				.copyright © 2006-2016 FxPro Group Ltd
				ul.footer-links
					li 
						a(href="#") Legal Documentation
					li 
						a(href="#") Privacy Policy
					li 
						a(href="#") Risk Disclosure
					li 
						a(href="#") Site Map
					li 
						a(href="#") Partners
					li 
						a(href="#") Contact us	
			.col-sm-8.col-md-10
				p.mb-30
					span.risk-warning
						span.risk-warning__icon
						span.risk-warning__text Risk Warning - Trade Responsibly:
					| Contracts for Difference (‘CFDs’) are complex financial products that are traded on margin. Trading CFDs carries a high level of risk since leverage can work both to your advantage and disadvantage. As a result, CFDs may not be suitable for all investors because you may lose all your invested capital. You should not risk more than you are prepared to lose. Before deciding to trade, you need to ensure that you understand the risks involved taking into account your investment objectives and level of experience. Past performance of CFDs is not a reliable indicator of future results. Most CFDs have no set maturity date. Hence, a CFD position matures on the date you choose to close an existing open position. Seek independent advice, if necessary. Please read FxPro’s full <a href="#">‘Risk Disclosure Statement’</a>.
				.footer-title 
					span Profoundly European:
				p.flag.flag--gb
					| FxPro UK Limited is authorised and regulated by the Financial Conduct Authority (<a href="#">registration № 509956</a>).
				p.flag.flag--cy
					| FxPro Financial Services Limited is authorised and regulated by the Cyprus Securities and Exchange Commission (<a href="#">licence № 078/07</a>) and authorised by the Financial Services Board (‘FSB’) (<a href="#">authorisation № 45052</a>). 
				hr
				p
					span(class="color-black") FxPro UK Limited and FxPro Financial Services Limited
					| do not offer Contracts for Difference to residents of certain jurisdictions such as the United States of America and the Islamic Republic of Iran and Canada. With regards to the FSB authorisation, FxPro provides execution services and enters into principal to principal transactions with its clients on FxPro’s prices; these transactions are not traded on an exchange. In addition, Contract for Differences (CFDs) with FxPro are not regulated by the FAIS Act and intermediary services are not provided.