.section-apps
	.container
		.row
			.col
				+platform("img/icons/icon-mt4.svg", "FxPro MetaTrader 4", "Trade CFDs on six asset classes with fixed or floating spreads.")
			.col
				+platform("img/icons/icon-mt5.svg", "FxPro MetaTrader 5", "Trade CFDs on five asset classes with market execution and floating spreads.")
		.row.flex-justify-center.text-center
			+button("Open Trading Account", "Trading CFDs involves significant risk of loss", "#")