.section-sponsor
	.container
		.row
			.col
				+sponsor-logo("img/logo/sponsor-bmw.png", "Formula 1 BMW<br> Sauber Team Sponsor")
			.col
				+sponsor-logo("img/logo/sponsor-fulham.png", "Fulham FC Official<br> Main Team Sponsor")
			.col
				+sponsor-logo("img/logo/sponsor-vr.png", "WRC Official<br> Forex Trading Partner")
			.col
				+sponsor-logo("img/logo/sponsor-wrc.png", "Formula 1 Virgin Racing<br> Team Sponsor")
		.row
			.col
				+button("Open Trading Account", "Trading CFDs involves significant risk of loss", "#")