.section-links
	.container
		.row
			.col-sm-4.col-md-3
				a(href="#").footer-link
					.footer-link__icon.footer-link__icon--map
					.footer-link__text Contact Us
			.col-sm-4.col-md-3
				a(href="#").footer-link
					.footer-link__icon.footer-link__icon--help
					.footer-link__text Help Centre
			.col-sm-4.col-md-3
				a(href="#").footer-link
					.footer-link__icon.footer-link__icon--news
					.footer-link__text FxPro Blog
			.col-lg-3
				.social-links-wrapper
					a(class="social-link social-link--twitter" href="#")
					a(class="social-link social-link--facebook" href="#")
					a(class="social-link social-link--youtube" href="#")
					a(class="social-link social-link--linkedin" href="#")
					a(class="social-link social-link--googleplus" href="#")
				