.section-icons
	.container
		.row
			.col
				+icon-text("img/icons/icon-signals.svg", "60px", "Receive free trading signals", "by TRADING CENTRAL")
			.col
				+icon-text("img/icons/icon-cfds.svg", "58px", "CFDs on FOREX", "and 5 other asset classes")
			.col
				+icon-text("img/icons/icon-protection.svg", "61px", "Negative Balance Protection", "guaranteed*")
		.row
			.col
				.section-icons__notice.text-center
					| *Subject to the FxPro Order Execution Policy.

	








