.section-awards
	.container
		.row
			.col
				.title-1.mb-75.text-center Latest Awards & Sponsorship History
		.row
			.col
				+award-block("Best", "FX Provider", "2017", "Online Personal Wealth Awards")
			.col
				+award-block("Best", "Best FX Execution", "Global, 2017", "CFI.co Awards")
			.col
				+award-block("Best", "Execution Broker", "Global, 2017", "Global Brands Magazine")
			.col
				+award-block("Best", "Forex Provider", "2014-2016", "Forex Awards")