.section-apps--black
	.container
		.row
			.col-md-6
				+platform--black("img/icons/icon-ct.svg", "FxPro cTrader", "Trade the world's markets with tight spreads and full market depth.")
			.col-md-6
				+platform--black("img/icons/icon-markets.svg", "FxPro Markets*", "Trade on a web and mobile platform like no other with market execution and tight spreads.")
		.row
			.col
				.section-icons__notice.text-center
					| *Only available to clients of FxPro Financial Services Limited.
			


			




