extends ./templates/_template.pug

block content
	include sections/header.pug
	include sections/numbers.pug
	include sections/section-icons.pug
	include sections/section-apps.pug
	include sections/section-apps--black.pug