extends ./templates/_template.pug

block variables
	- var title = 'FxPro'

block content
	include sections/header.pug
	include sections/numbers.pug
	include sections/section-icons.pug
	include sections/section-apps.pug
	include sections/section-apps--black.pug
	include sections/section-awards.pug
	include sections/section-fc.pug
	include sections/section-sponsor.pug
	include sections/section-links.pug
	include sections/section-footer.pug