.section-fc {
	padding-top: 55px;
	padding-bottom: 60px;
	background-image: url("../img/bg/bg-football--mobile.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	text-align: center;
	
	strong {
		font-size: 36px;
	}

	.desktop({
		padding-top: 151px;
		padding-bottom: 125px;
		background-image: url("../img/bg/bg-football.jpg");
	});
}