.award-block {
	text-align: center;
}

.award-block__title {
	width: 201px;
	
	margin-bottom: 26px;

	padding-left: 15px;
	padding-right: 15px;
	padding-top: 11px;
	padding-bottom: 10px;
	
	color: #07060E;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	
	background-image: url("../img/img/award.png");
	background-repeat: no-repeat;
	background-position: center;
}

.award-block__desc {
	font-size: 14px;
	color: #07060E;
}
