.button {
	display: inline-block;
	margin-bottom: 10px;

	// padding-left: 50px;
	// padding-right: 50px;
	padding-top: 27px;
	padding-bottom: 30px;
	
	width: 90%;
	
	@media (min-width: 320px){
		width: 300px;
	}
	
	
	background-color: @brand-blue;
	
	color: #FFF;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	
	.transition;
	
	.iphone6({
		font-size: 22px;
		width: 320px;
	});
	
	&.in-header {
		font-size: 24px;
		// padding-left: 55px;
		// padding-right: 55px;
		padding-top: 20px;
		padding-bottom: 27px;
		
		.iphone6({
			font-size: 26px;
		});
	}

	&:hover {
		// background-color: lighten(#007aff,10%); // 0065d3
		background-color: lighten(@brand-blue,12%); // 0065d3
		text-decoration: none;
		color: #FFF;
	} 
}

.button-description {
	color: #636366;
}