.header {
	background-color: #EFEFEF;
	padding-top: 76px;
	padding-bottom: 100px;
	background-image: url("../img/bg/bg-ipad-pro.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}

.title-margin {
	margin-top: 110px;
	margin-bottom: 100px;
}