.icon-text {
	color: #828286;
	margin-bottom: 60px;
}

.icon-text__icon {
	margin-bottom: 50px;
	height: 70px;
}

.icon-text__title {
	font-weight: 500;
	font-size: 22px;
	line-height: 1.2;
}

.icon-text__desc {

}